node_modules
error.log
Single user/
nssm.exe
service.log
migrate.js
db.js
postgre_conection.md
reverse-migrate.sql
.env
.DS_Store
.env
tests/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
